* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    min-height: 100%;
}

#main{
    position: relative;
    background-color: rgb(21, 21, 21);
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(21, 21, 21);
}

#loader{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10vh;
    background-color: rgb(21, 21, 21);
    position: fixed;
    color: white;
}

.line{
    /* background-color: red; */
    display: flex;
    gap: 6vh;
    overflow: hidden;
}

#line1-countdown{
    width: 10vw;
    text-align: right;
    font-family: 'Dancing Script';
    font-size: 5vw;
    font-weight: 100;
}

.line h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 300;
    overflow: hiddenk;
}

.line h3{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 300;
    overflow: hiddenk;
}