* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: rgb(21, 21, 21);
}

body {
    font-family: sans-serif;
    min-height: 100%;
}

#main{
    position: relative;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(21, 21, 21);
}

#loader{
    position: realtive;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10vh;
    background-color: rgb(21, 21, 21);
    position: fixed;
    color: white;
}

.line{
    /* background-color: red; */
    display: flex;
    gap: 6vh;
    overflow: hidden;
}

#line1-countdown{
    width: 10vw;
    text-align: right;
    font-family: 'Dancing Script';
    font-size: 5vw;
    font-weight: 100;
}

.line h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 300;
    overflow: hiddenk;
}

.line h3{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 300;
    overflow: hiddenk;
}

.navbar{
    padding: 2.3vw 5.5vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1{
    font-family: "Permanent Marker";
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}
.navbar h3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-weight: 100;
    font-size: 1vw;
}


.content1{
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    margin: 10vw;
    text-transform: uppercase;
}

.content1 p {
    line-height: 100%;
    font-weight: 500;
}

#point1{
    position: absolute;
    top: 3%;
    font-family: 'Dancing Script';
    font-size: 3vw;
    left: 12%;
}

.content1_ani{
    transition: all 0.3s ease;
}

.content1_ani:hover {
    color: rgb(21, 21, 21);
    -webkit-text-stroke: 1px white; /* Border size and color */
}
